body {
    background-color: black;
}

.Cabecalho{
    color: aliceblue;
}

.Menu{
    color: aliceblue;
    font-size: medium;
    padding-top: 1rem;
}

.itens {
    display: flex;
    flex-direction: column;
}