@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
 
}

html,body {
  min-height: 100vh;
  
   position: relative;
   background-image: url(/src/images/backgound.png);
   background-size :100%;
}


.wrapper {
  display: flex;
  position: relative;
}

.sidebar {
  position: fixed;
  width: 210px;
  height: 100%;
  background-color: #000000;
  padding: 30px 25px;
  opacity: 0.7;
  border-radius: 15px;
}

.sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul li {
  padding: 15px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 255, 255, 0.05); */
}

.sidebar ul li a {
  color: #ffffff;
  display: block;
}

.sidebar ul li a i {
  width: 25px;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 28px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transition: background 0.25s;
  margin: 1px 750px;
}

.search:focus-within {
  background: rgba(0, 0, 0, 0.5);
}

.search input {
  font-size: 16px;
  color: #fff;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-icon {
  color: #fff;
}
/* Imagens inicio */
/* stardew valley */
.img1 { 
  position:absolute; 
  width: 500px; 
  height: 460px; 
  margin: 0 auto;
}
.img1 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 850px; 
  height: auto; 
  border-radius: 15px;
}
/* red dead 2 */
.img2 {
  position: absolute; 
  width: 250px; 
  height: 1250px; 
  margin: 100px;
}
.img2 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 485px; 
  height: auto; 
  border-radius: 15px;
}
/* baldurs gate 3 */
.img3 {
  position: absolute; 
  width: 650px; 
  height: 1250px; 
  margin: 100px;
}
.img3 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 485px; 
  height: auto; 
  border-radius: 15px;
}
/* Texto Inicio */
.text-stardew-valley {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 509px;
  top: 530px;
}

.text-red-dead2 {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 330px;
  top: 830px;
}

.text-baldurs-gate3 {
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 1070px;
  top: 830px;
}
  /* preco jogo inicio */
.preco-stardew-valley {
  font-size: 11px;
  color: #fff;
  position: absolute;
  left: 1246px;
  top: 532px;
}

.preco-red-dead2 {
  font-size: 11px;
  color: #fff;
  position: absolute;
  left: 695px;
  top: 832px;
}

.preco-baldurs-gate3 {
  font-size: 11px;
  color: #fff;
  position: absolute;
  left: 1432px;
  top: 832px;
}

/* categoria dos jogos */
.rpg1{
  font-size: 11px;
  color: #fff;
  position: absolute;
  left: 1077px;
  top: 589px;
}
 .rpg2{
  font-size: 15px;
  color: #fff;
  position: absolute;
  left: 530px;
  top: 95px;
 }
 .avnt1 {
  position: absolute; 
  font-size: 15px;
  color: #fff;
  left: 620px;
  top: 95px;
} 

.avnt2 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  left: 1135px;
  top: 590px
}

.acao1 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  left: 340px;
  top: 590px
}

.tiro1 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  left: 410px;
  top: 590px
}



/* catalogo  */
 /* stardew valley */
.imgC1 {
  position: absolute; 
  width: 300px; 
  height: 300px; 
  margin: 0 auto;
}
.imgC1 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
 /* red dead 2 */
.imgC2 {
  position:  absolute; 
  width: 245px; 
  height: 700px; 
  margin: 100px;
}
.imgC2 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}


/* baldurs gate3  */
.imgC3 {
  position: absolute; 
  width: 245px; 
  height: 1200px; 
  margin: 100px;
}
.imgC3 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* valorant  */
.imgC4 {
  position: absolute; 
  width: 505px; 
  height: 1200px; 
  margin: 100px;
}
.imgC4 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
  /* alien isolation */
.imgC5 {
  position: absolute; 
  width: 505px; 
  height: 700px; 
  margin: 100px;
}
.imgC5 img {
  position: absolute; 
  top: 50%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* outlast */
.imgC6 {
  position: absolute; 
  width: 557px; 
  height: 300px; 
  margin: 0 auto;
}
.imgC6 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* God of war  */
.imgC7 {
  position: absolute; 
  width: 795px; 
  height: 300px; 
  margin: 0 auto;
}
.imgC7 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* the last of us 2 */
.imgC8 {
  position: absolute; 
  width: 795px; 
  height: 645px; 
  margin: 0 auto;
}
.imgC8 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* euro truck */
.imgC9 {
  position: absolute; 
  width: 795px; 
  height: 1000px; 
  margin: 0 auto;
}
.imgC9 img {
  position: absolute; 
  top: 70%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* goat simulator */
.imgC10 {
  position: absolute; 
  width: 795px; 
  height: 1300px; 
  margin: 0 auto;
}
.imgC10 img {
  position: absolute; 
  top: 73%;
  left: 185%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
 /* GTA V */
 .imgC11 {
  position: absolute; 
  width: 795px; 
  height: 1300px; 
  margin: 0 auto;
}
.imgC11 img {
  position: absolute; 
  top: 73%;
  left: 130%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* elden ring */
.imgC12 {
  position: absolute; 
  width: 795px; 
  height: 1300px; 
  margin: 0 auto;
}
.imgC12 img {
  position: absolute; 
  top: 73%;
  left: 70%;
  transform: translate(-50%, -50%); 
  max-width: 300px; 
  height: auto; 
  border-radius: 15px;
}
/* Nomes Catalogo  */
/* stardew-valley */
.titulo1 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1235px;
    top: 290px;
}
/* red dead2 */
.titulo2 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 64%;
    top: 55%;
}
/* BALDURS GATE */
.titulo3 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 67%;
    top: 81%;
}
/* Elden Ring */
.titulo4 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 67%;
    top: 107%;
}
/* Outlast */
.titulo5 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 43%;
    top: 30%;
}
/* Alien isolation */
.titulo6 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 41%;
    top: 55%;
}
/* Valorant */
.titulo7 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 42%;
    top: 81%;
}
/* GTA V */
.titulo8 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 39%;
    top: 107%;
}
 /* GOD OF WAR */
.titulo9 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 340px;
    top: 30%;
}
/* The last of us part 2 */
.titulo10 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 300px;
    top: 55%;
}
/* EURO TRUCK SIMULATOR */
.titulo11 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 289px;
    top: 81%;
}
/* GOAT SIMULATOR */
.titulo12 {
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 310px;
    top: 107%;
}
/* Categoria catalogo */
/* stardew valley */
.Crpg1{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1395px;
  top: 126px;
}
.Cavent1{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1285px;
  top: 126px;
}
/* RDR2 */
.Ctiro1{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1400px;
  top: 366px;
}
.Cacao1{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 1332px;
  top: 368px;
}
/* <!-- BALDURS GATE 3 --> */
.Crpg2{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1400px;
  top: 616px;
}
.Cavent2{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 1300px;
  top: 616px;
}
/* Elden Ring  */
.Crpg3{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 1400px;
  top: 866px;
}
.Cacao2{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 1334px;
  top: 868px;
}
/* OUTLAST */
.Cterror1{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 890px;
  top: 126px;
}
.Cacao3{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 820px;
  top: 128px;
}
/* Alien Isolation */
.Cterror2{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 890px;
  top: 366px;
}
.Ctiro2{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 830px;
  top: 368px;
}
/* Valorant */
.Cacao4{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 895px;
  top: 618px;
}
.Ctiro3{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 830px;
  top: 619px;
}
/* gta v */
.Cacao5{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 895px;
  top: 868px;
}
.Cavent3{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 780px;
  top: 868px;
}
/* GOD OF WAR  */
.Cacao6{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 465px;
  top: 128px;
}
.Cavent4{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 350px;
  top: 128px;
}
/* THE LAST OF US PART 2 */
.Ctiro4{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 465px;
  top: 368px;
}
.Cavent5{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 350px;
  top: 368px;
}

/* EURO TRUCK SIMULATOR  */
.Csimu1{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 405px;
  top: 614px;
}
.Cavent6{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 290px;
  top: 616px;
}
/* GOAT SIMULATOR */
.Csimu2{
  position: absolute; 
  font-size: 10px;
  color: #fff;
  right: 405px;
  top: 864px;
}
.Cacao7{
  position: absolute; 
  font-size: 9px;
  color: #fff;
  right: 340px;
  top: 864px;
}

